Django>=6.0.4
django-cors-headers>=4.9.0
djangorestframework>=3.17.1
djangorestframework_simplejwt>=5.5.1
google-auth>=2.49.2
mysqlclient>=2.2.8
pillow>=12.2.0
PyMySQL>=1.1.2
python-dotenv>=1.2.2
reportlab>=5.0.0
requests>=2.33.1
cryptography>=47.0.0
cffi>=2.0.0
asgiref>=3.11.1
sqlparse>=0.5.5
